<div class="list_text">
    <div class="list_date">September 24, 2021</div>
    <div class="content_title">Two of a Space Kind: Apollo 12 and Mars 2020</div>
    <div class="article_teaser_body">Apollo 12 and the upcoming Mars 2020 mission may be separated by half a century, but they share several goals unique in the annals of space exploration.</div>
    </div>
    News Title: Two of a Space Kind: Apollo 12 and Mars 2020
    Paragraph Text: Apollo 12 and the upcoming Mars 2020 mission may be separated by half a century, but they share several goals unique in the annals of space exploration.
    Featured Image: https://spaceimages-mars.com/image/featured/mars1.jpg
    <table border="1" class="dataframe">
      <thead>
        <tr style="text-align: right;">
          <th></th>
          <th>Description</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>0</th>
          <td>Equatorial Diameter:</td>
          <td>6,792 km</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Polar Diameter:</td>
          <td>6,752 km</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Mass:</td>
          <td>6.39 × 10^23 kg (0.11 Earths)</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Moons:</td>
          <td>2 ( Phobos &amp; Deimos )</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Orbit Distance:</td>
          <td>227,943,824 km (1.38 AU)</td>
        </tr>
        <tr>
          <th>5</th>
          <td>Orbit Period:</td>
          <td>687 days (1.9 years)</td>
        </tr>
        <tr>
          <th>6</th>
          <td>Surface Temperature:</td>
          <td>-87 to -5 °C</td>
        </tr>
        <tr>
          <th>7</th>
          <td>First Record:</td>
          <td>2nd millennium BC</td>
        </tr>
        <tr>
          <th>8</th>
          <td>Recorded By:</td>
          <td>Egyptian astronomers</td>
        </tr>
      </tbody>
    </table>
    [{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]
    results
    <function scrape at 0x7ff6d01c3c80>
    
    
    <div class="list_text">
    <div class="list_date">September 24, 2021</div>
    <div class="content_title">NASA's Curiosity Mars Rover Snaps Its Highest-Resolution Panorama Yet</div>
    <div class="article_teaser_body">To go along with the stunning 1.8-billion-pixel image, a new video offers a sweeping view of the Red Planet.</div>
    </div>
    News Title: NASA's Curiosity Mars Rover Snaps Its Highest-Resolution Panorama Yet
    Paragraph Text: To go along with the stunning 1.8-billion-pixel image, a new video offers a sweeping view of the Red Planet.
    Featured Image: https://spaceimages-mars.com/image/featured/mars1.jpg
    <table border="1" class="dataframe">
      <thead>
        <tr style="text-align: right;">
          <th></th>
          <th>Description</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>0</th>
          <td>Equatorial Diameter:</td>
          <td>6,792 km</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Polar Diameter:</td>
          <td>6,752 km</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Mass:</td>
          <td>6.39 × 10^23 kg (0.11 Earths)</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Moons:</td>
          <td>2 ( Phobos &amp; Deimos )</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Orbit Distance:</td>
          <td>227,943,824 km (1.38 AU)</td>
        </tr>
        <tr>
          <th>5</th>
          <td>Orbit Period:</td>
          <td>687 days (1.9 years)</td>
        </tr>
        <tr>
          <th>6</th>
          <td>Surface Temperature:</td>
          <td>-87 to -5 °C</td>
        </tr>
        <tr>
          <th>7</th>
          <td>First Record:</td>
          <td>2nd millennium BC</td>
        </tr>
        <tr>
          <th>8</th>
          <td>Recorded By:</td>
          <td>Egyptian astronomers</td>
        </tr>
      </tbody>
    </table>
    [{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]
    <function scrape at 0x7fc998123d08>
    (PythonData) michelleherman@Michelles-iMac web-scraping-challenge % /Users/michelleherman/opt/anaconda3/envs/PythonData/bin/python /Users/michelleherman/Desktop/web-scraping-challenge/Mission_to_Mars/scrape_mars.py
    
    
    <div class="list_text">
    <div class="list_date">September 24, 2021</div>
    <div class="content_title">NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes</div>
    <div class="article_teaser_body">After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.</div>
    </div>
    News Title: NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes
    Paragraph Text: After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.
    Featured Image: https://spaceimages-mars.com/image/featured/mars1.jpg
    <table border="1" class="dataframe">
      <thead>
        <tr style="text-align: right;">
          <th></th>
          <th>Description</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>0</th>
          <td>Equatorial Diameter:</td>
          <td>6,792 km</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Polar Diameter:</td>
          <td>6,752 km</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Mass:</td>
          <td>6.39 × 10^23 kg (0.11 Earths)</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Moons:</td>
          <td>2 ( Phobos &amp; Deimos )</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Orbit Distance:</td>
          <td>227,943,824 km (1.38 AU)</td>
        </tr>
        <tr>
          <th>5</th>
          <td>Orbit Period:</td>
          <td>687 days (1.9 years)</td>
        </tr>
        <tr>
          <th>6</th>
          <td>Surface Temperature:</td>
          <td>-87 to -5 °C</td>
        </tr>
        <tr>
          <th>7</th>
          <td>First Record:</td>
          <td>2nd millennium BC</td>
        </tr>
        <tr>
          <th>8</th>
          <td>Recorded By:</td>
          <td>Egyptian astronomers</td>
        </tr>
      </tbody>
    </table>
    [{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]
    <function scrape at 0x7fd438213d08>
   
    
    <div class="list_text">
    <div class="list_date">September 24, 2021</div>
    <div class="content_title">Scientists Explore Outback as Testbed for Mars </div>
    <div class="article_teaser_body">Australia provides a great place for NASA's Mars 2020 and the ESA-Roscosmos ExoMars scientists to hone techniques in preparation for searching for signs ancient life on Mars.</div>
    </div>
    News Title: Scientists Explore Outback as Testbed for Mars
    Paragraph Text: Australia provides a great place for NASA's Mars 2020 and the ESA-Roscosmos ExoMars scientists to hone techniques in preparation for searching for signs ancient life on Mars.
    Featured Image: https://spaceimages-mars.com/image/featured/mars1.jpg
    <table border="1" class="dataframe">
      <thead>
        <tr style="text-align: right;">
          <th></th>
          <th>Description</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>0</th>
          <td>Equatorial Diameter:</td>
          <td>6,792 km</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Polar Diameter:</td>
          <td>6,752 km</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Mass:</td>
          <td>6.39 × 10^23 kg (0.11 Earths)</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Moons:</td>
          <td>2 ( Phobos &amp; Deimos )</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Orbit Distance:</td>
          <td>227,943,824 km (1.38 AU)</td>
        </tr>
        <tr>
          <th>5</th>
          <td>Orbit Period:</td>
          <td>687 days (1.9 years)</td>
        </tr>
        <tr>
          <th>6</th>
          <td>Surface Temperature:</td>
          <td>-87 to -5 °C</td>
        </tr>
        <tr>
          <th>7</th>
          <td>First Record:</td>
          <td>2nd millennium BC</td>
        </tr>
        <tr>
          <th>8</th>
          <td>Recorded By:</td>
          <td>Egyptian astronomers</td>
        </tr>
      </tbody>
    </table>
    [{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]
    <function scrape at 0x7f86b82dbd08>
   
    

    <div class="list_text">
    <div class="list_date">September 24, 2021</div>
    <div class="content_title">NASA's Mars 2020 Comes Full Circle</div>
    <div class="article_teaser_body">Aiming to pinpoint the Martian vehicle's center of gravity, engineers took NASA's 2,300-pound Mars 2020 rover for a spin in the clean room at JPL. </div>
    </div>
    News Title: NASA's Mars 2020 Comes Full Circle
    Paragraph Text: Aiming to pinpoint the Martian vehicle's center of gravity, engineers took NASA's 2,300-pound Mars 2020 rover for a spin in the clean room at JPL.
    Featured Image: https://spaceimages-mars.com/image/featured/mars2.jpg
    <table border="1" class="dataframe">
      <thead>
        <tr style="text-align: right;">
          <th></th>
          <th>Description</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>0</th>
          <td>Equatorial Diameter:</td>
          <td>6,792 km</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Polar Diameter:</td>
          <td>6,752 km</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Mass:</td>
          <td>6.39 × 10^23 kg (0.11 Earths)</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Moons:</td>
          <td>2 ( Phobos &amp; Deimos )</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Orbit Distance:</td>
          <td>227,943,824 km (1.38 AU)</td>
        </tr>
        <tr>
          <th>5</th>
          <td>Orbit Period:</td>
          <td>687 days (1.9 years)</td>
        </tr>
        <tr>
          <th>6</th>
          <td>Surface Temperature:</td>
          <td>-87 to -5 °C</td>
        </tr>
        <tr>
          <th>7</th>
          <td>First Record:</td>
          <td>2nd millennium BC</td>
        </tr>
        <tr>
          <th>8</th>
          <td>Recorded By:</td>
          <td>Egyptian astronomers</td>
        </tr>
      </tbody>
    </table>
    [{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]
    <function scrape at 0x7fec5811bd08>